*.png filter=lfs diff=lfs merge=lfs -text
*.ico filter=lfs diff=lfs merge=lfs -text
CSFalpha1/CSFalpha1Content/xna-4.0-x86/LzmaSharp.xml filter=lfs diff=lfs merge=lfs -text
CSFalpha1/CSFalpha1Content/xna-4.0-x86/Nuclex.Testing.Xna.xml filter=lfs diff=lfs merge=lfs -text
CSFalpha1/CSFalpha1Content/xna-4.0-x86/Nuclex.Windows.Forms.dll filter=lfs diff=lfs merge=lfs -text
CSFalpha1/CSFalpha1Content/xna-4.0-x86/SlimDX.DirectInput.xml filter=lfs diff=lfs merge=lfs -text
CSFalpha1/CSFalpha1Content/xna-4.0-x86/Nuclex.Fonts.Content.TrueTypeImporter.xml filter=lfs diff=lfs merge=lfs -text
CSFalpha1/CSFalpha1Content/xna-4.0-x86/Nuclex.Geometry.dll filter=lfs diff=lfs merge=lfs -text
CSFalpha1/CSFalpha1Content/xna-4.0-x86/Nuclex.Input.xml filter=lfs diff=lfs merge=lfs -text
CSFalpha1/CSFalpha1Content/xna-4.0-x86/SlimDX.DirectInput.dll filter=lfs diff=lfs merge=lfs -text
CSFalpha1/CSFalpha1Content/xna-4.0-x86/Nuclex.Game.xml filter=lfs diff=lfs merge=lfs -text
CSFalpha1/CSFalpha1Content/xna-4.0-x86/Nuclex.Networking.xml filter=lfs diff=lfs merge=lfs -text
CSFalpha1/CSFalpha1Content/xna-4.0-x86/Nuclex.Support.dll filter=lfs diff=lfs merge=lfs -text
CSFalpha1/CSFalpha1Content/xna-4.0-x86/Nuclex.Testing.Xna.dll filter=lfs diff=lfs merge=lfs -text
CSFalpha1/CSFalpha1Content/xna-4.0-x86/nunit.framework.xml filter=lfs diff=lfs merge=lfs -text
CSFalpha1/CSFalpha1Content/xna-4.0-x86/Nuclex.Game.ContentCompressor.exe filter=lfs diff=lfs merge=lfs -text
CSFalpha1/CSFalpha1Content/xna-4.0-x86/Nuclex.Geometry.xml filter=lfs diff=lfs merge=lfs -text
CSFalpha1/CSFalpha1Content/xna-4.0-x86/Nuclex.Input.dll filter=lfs diff=lfs merge=lfs -text
CSFalpha1/CSFalpha1Content/xna-4.0-x86/Nuclex.Math.xml filter=lfs diff=lfs merge=lfs -text
CSFalpha1/CSFalpha1Content/xna-4.0-x86/NMock.StrongNamed.dll filter=lfs diff=lfs merge=lfs -text
CSFalpha1/CSFalpha1Content/xna-4.0-x86/Nuclex.Math.dll filter=lfs diff=lfs merge=lfs -text
CSFalpha1/CSFalpha1Content/xna-4.0-x86/Nuclex.Windows.Forms.xml filter=lfs diff=lfs merge=lfs -text
CSFalpha1/CSFalpha1Content/xna-4.0-x86/nunit.framework.dll filter=lfs diff=lfs merge=lfs -text
CSFalpha1/CSFalpha1Content/xna-4.0-x86/NMock.StrongNamed.xml filter=lfs diff=lfs merge=lfs -text
CSFalpha1/CSFalpha1Content/xna-4.0-x86/Nuclex.Audio.dll filter=lfs diff=lfs merge=lfs -text
CSFalpha1/CSFalpha1Content/xna-4.0-x86/Nuclex.Audio.xml filter=lfs diff=lfs merge=lfs -text
CSFalpha1/CSFalpha1Content/xna-4.0-x86/Nuclex.Game.ContentCompressor.xml filter=lfs diff=lfs merge=lfs -text
CSFalpha1/CSFalpha1Content/xna-4.0-x86/Nuclex.Game.dll filter=lfs diff=lfs merge=lfs -text
CSFalpha1/CSFalpha1Content/xna-4.0-x86/Nuclex.Networking.dll filter=lfs diff=lfs merge=lfs -text
CSFalpha1/CSFalpha1Content/xna-4.0-x86/Nuclex.Support.xml filter=lfs diff=lfs merge=lfs -text
CSFalpha1/CSFalpha1Content/xna-4.0-x86/LzmaSharp.dll filter=lfs diff=lfs merge=lfs -text
CSFalpha1/CSFalpha1Content/xna-4.0-x86/Nuclex.Fonts.Content.TrueTypeImporter.dll filter=lfs diff=lfs merge=lfs -text
CSFalpha1/CSFalpha1Content/xna-4.0-x86/Nuclex.Fonts.dll filter=lfs diff=lfs merge=lfs -text
CSFalpha1/CSFalpha1Content/xna-4.0-x86/Nuclex.Graphics.dll filter=lfs diff=lfs merge=lfs -text
CSFalpha1/CSFalpha1Content/xna-4.0-x86/Nuclex.Graphics.SpecialEffects.dll filter=lfs diff=lfs merge=lfs -text
CSFalpha1/CSFalpha1Content/xna-4.0-x86/Nuclex.Fonts.xml filter=lfs diff=lfs merge=lfs -text
CSFalpha1/CSFalpha1Content/xna-4.0-x86/Nuclex.Graphics.SpecialEffects.xml filter=lfs diff=lfs merge=lfs -text
CSFalpha1/CSFalpha1Content/xna-4.0-x86/Nuclex.Graphics.xml filter=lfs diff=lfs merge=lfs -text
CSFalpha1/CSFalpha1Content/xna-4.0-x86/Nuclex.UserInterface.dll filter=lfs diff=lfs merge=lfs -text
CSFalpha1/CSFalpha1Content/xna-4.0-x86/Nuclex.UserInterface.xml filter=lfs diff=lfs merge=lfs -text
*.xcf filter=lfs diff=lfs merge=lfs -text
